{{ define "body" }}

<script src="https://api-maps.yandex.ru/2.1/?lang=en_US" type="text/javascript"></script>
<script type="text/javascript">
	function str2xy(str) {
		var arrContent = str.split(",");
		var x = parseFloat(arrContent[0]);
		var y = parseFloat(arrContent[1]);
		return [x,y]
	}
	
	ymaps.ready(init);
	var myMap;

	function init(){     
		myMap = new ymaps.Map("map", {
			center: [55.76, 37.64], 
			zoom: 7
		});

		var points = document.querySelectorAll(".point");
		var poly = [];
		for(var i=0; i<points.length; i++) {
			var temp = str2xy(points[i].textContent);
			myPlacemark = new ymaps.Placemark(temp, {
				iconContent: i,
			});
			myMap.geoObjects.add(myPlacemark);
			poly.push(temp);
		}
		var polyline = new ymaps.Polyline(poly);

		myMap.geoObjects.add(polyline);
		myMap.setBounds(polyline.geometry.getBounds());

		// ymaps.route(poly, {
		// 	multiRoute: true
		// }).done(function (route) {
		// 	route.getWayPoints().options.set("visible", false)
		// 	myMap.geoObjects.add(route);
		// 	myMap.setBounds(route.getBounds());
		// }, function (err) {
		// 	throw err;
		// }, this);
	}


</script>
<div id="map" style="width: 1000px; height: 600px; float: left;"></div>
<div style="margin-left: 1020px;" id="points">
	<h1>Points</h1>
	{{ range .Points }}
		<span class="point">{{ . }}</span>
	{{ end }}

</div>

{{ end }}