<h2>The list of Messages</h2>

<table class="table">
<thead>
	<tr>
		<th>#</th>
		<th class="text-center">USER</th>
		<th class="text-center">MESSAGE</th>
		<th class="text-right">CONTROL</th>
	</tr>
</thead>
<tbody>
{{range .messages}}
	<tr>
		<th scope="row">{{ .ID }}</th>
		<td class="text-center">{{ .USER_ID }}</td>
		<td class="text-center">{{ .MESSAGE }}</td>
		<td class="text-right">
			<a class="btn btn-default">EDIT</a>
			<a class="btn btn-default">DELETE</a>
		</td>
	</tr>
{{end}}
</tbody>
</table>