<% @files.each do |file| %>
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">
			<a href="/files/<%= file[:_id] %>"><%= file[:name] %></a>
		</div>
	</div>
	<div class="panel-body">
		<%= file[:description] %>
	</div>
</div>
<% end %>