<form action="/subsection/<%=params[:id]%>/create_theme" method="POST">
	<input type="hidden" name="_method" value="PUT">
	<input type="text" name="name" class="form-control" placeholder="Name">
	<textarea name="text" class="form-control tinp" cols="30" rows="5" placeholder="Text"></textarea>
	<input type="submit" class="btn btn-default tinp">
</form>