<% @sections.each do |section| %>

<div class="panel panel-default">
	<div class="panel-heading"><%= section[:name] %></div>
	<div class="panel-body">
		<% section.subsections.each do |subsec| %>
			<div class="panel panel-default">
				<div class="panel-heading">
					<a href="/subsection/<%= subsec.id %>"><%= subsec.name %></a>
				</div>
			</div>
		<% end %>
	</div>
</div>

<% end %>