<% @sections.each do |s| %>
	<span style="margin-left: 0px;"><%= s[:name] %></span><br />
	<% s.subsections.each do |ss| %>
		<span style="margin-left: 20px;"><%= ss[:name] %></span><br />
		<% ss.themes.each do |t| %>
			<span style="margin-left: 40px;"><%= t[:name] %></span><br />
			<% t.messages.each do |m| %>
				<span style="margin-left: 60px;"><%= "%s - %s " % [m.user[:login], m[:text]] %></span><br />
			<% end %>
		<% end %>
	<% end %>
<% end %>