<div>
	<img src="<%=image_path('Lena.jpg')%>" style="float: left; height: 430px;">
	<p style="margin-left: 370px; font-size: 1.3em;" class="text-center">
		Уважаемые посетители сайта!<br><br>
		Благодарю Вас за проявленный интерес. Предлагаю для плодотворного сотрудничества зарегистрироваться на сайте, так как только зарегистрированным пользователям предоставляется возможность просматривать и скачивать предложенные материалы.<br><br>
		Мне будет интересно узнать, что еще бы Вы хотели увидеть на страницах сайта. Для этого существует «Обратная связь». С удовольствием отвечу на интересующие Вас вопросы и пожелания, но только в том случае, если указан адресат.<br><br>
		Полагаю, что раздел «Все для студентов» будет полезен студентам – электрикам, так как содержит материалы по таким дисциплинам, как Электротехника, Электроснабжение, Электрические измерения и Электрические машины.<br><br>
		С уважением  Е.В.Бутенко
	</p>
</div>