<html>
<body>
	<h1>Chat</h1>
	<form id="form">
		<input type="text" id="input" placeholder="Print here!" autocomplete="off" />
	</form>
	<div id="msgs"></div>
	<script type="text/javascript">
		window.onload = function(){
			(function(){
				var show = function(el){
					return function(msg){ el.innerHTML = msg + '<br />' + el.innerHTML; }
				}(document.getElementById('msgs'));

				var ws       = new WebSocket('ws://' + window.location.host + window.location.pathname);
				// ws.onopen    = function()  { show('websocket opened'); };
				// ws.onclose   = function()  { show('websocket closed'); }
				ws.onmessage = function(m) { let msg = JSON.parse(m.data); show(`<b>${msg[0]}</b> - ${msg[1]}`); };

				var sender = function(f){
					var input     = document.getElementById('input');
					f.onsubmit    = function(){
						if (input.value != "") { ws.send(input.value); f.reset(); }
						return false;
					}
				}(document.getElementById('form'));
			})();
		}
	</script>
</body>
</html>
