<form action="" method="POST" enctype="multipart/form-data">
	<input type="file" name="sfile"><br />
	<input type="text" name="title" class="form-control" placeholder="Заголовок"><br />
	<textarea name="text" cols="30" rows="10"></textarea><br />
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
	<input type="submit" class="btn btn-default">
</form>

<script type="text/javascript">
	tinymce.init({ selector: 'textarea',
		plugins: [
		"advlist autolink autosave link image lists charmap print preview hr anchor pagebreak spellchecker",
		"searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
		"table contextmenu directionality emoticons template textcolor paste fullpage textcolor colorpicker textpattern"
		],
		toolbar1: "newdocument fullpage | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | styleselect formatselect fontselect fontsizeselect",
		toolbar2: "cut copy paste | searchreplace | bullist numlist | outdent indent blockquote | undo redo | link unlink anchor image media code | insertdatetime preview | forecolor backcolor",
		toolbar3: "table | hr removeformat | subscript superscript | charmap emoticons | print fullscreen | ltr rtl | spellchecker | visualchars visualblocks nonbreakingtemplate pagebreak restoredraft"
	});
</script>