<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hello!</title>
	<script src="http.js"></script>
	<script>
		function $(elem) {
			return document.querySelector(elem);
		}

		function g(elem) {
			return $(elem).value;
		}

		function redraw() {
			var vars = ["wx", "dx", "wy", "dy", "a", "b"];
			var str = [];
			for(var i=0; i<vars.length; i++) {
				str.push(vars[i] + "=" + g("#"+vars[i]));
			}
			str = str.join("&");

			var request = new Http.Get("/draw?"+str, true);
			request.start().then(function(response) {
				$("img").src = "foobar.gif?" + new Date().getTime();
			});

		}

		function keyed(e) {
			if (e.keyCode == 13) redraw();
		}
	</script>
</head>
<body onkeydown="keyed(event)">

	<input type="text" placeholder="wx" id="wx" value="1" />
	<input type="text" placeholder="dx" id="dx" value="0" />
	<input type="text" placeholder="wy" id="wy" value="1" />
	<input type="text" placeholder="dy" id="dy" value="0" />
	<input type="text" placeholder="a" id="a" value="1" />
	<input type="text" placeholder="b" id="b" value="1" />

	<img src="foobar.gif" />
	
</body>
</html>