<form action="/admin/pages/<%= @page[:_id] %>" method="POST">
	<input type="text" name="title" value="<%= @page[:title] %>">
	<input type="text" name="name" value="<%= @page[:name] %>"><br />
	<textarea id="editor" name="body" cols="30" rows="10"><%= @page[:body] %></textarea>
	<input type="hidden" name="_method" value="PATCH">
	<input type="submit" value="Сохранить">
</form>
