<a href="/admin/pages/new" class="btn btn-default" style="width: 100%; margin-bottom: 20px;">Создать страницу</a>

<table class="table text-center">
	<tr>
		<th class="text-center">Имя</th>
		<th class="text-center">Заголовок</th>
		<th class="text-center">Управляющие ссылки</th>
	</tr>
	<% @pages.each do |page| %>
	<tr>
		<td><%= page[:name] %></td>
		<td><%= page[:title] %></td>
		<td>
			<a href="/admin/pages/<%= page[:_id] %>/edit">Изменить</a> -
			<a href="/admin/pages/<%= page[:_id] %>/delete">Удалить</a>
		</td>
	</tr>
	<% end %>
</table>
