<form action="/admin/pages" method="POST">

	<input type="text" name="title" placeholder="Заголовок">
	<input type="text" name="name" placeholder="Имя (в адресной строке)"><br />
	<textarea id="editor" name="body" cols="30" rows="10"></textarea>

	<input type="hidden" name="_method" value="PUT">

	<input type="submit" value="Создать">

</form>
