<form action="/guestbook" method="POST">

	<textarea name="body" id="gbedit" cols="30" rows="10"></textarea><br />

	<input type="hidden" name="_method" value="PUT">

	<input type="submit" value="Отправить">

</form>